@import url("/styles/header.css");
@import url("/styles/container.css");
@import url("/styles/carrossel.css");

:root{
    --cor-de-fundo: #d8dadd;
    --branco-principal: #FFFFFF;
    --branco-secundario: #d0cedb;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;
    --amarelo-principal:#EB9B00;
    --cinza-secundario: #c4c4c4;
    --preto-principal: #000000;
    --preto-secundario: #474646;
    --cor-rodape: #F9F9F9;
    --linha-rodape: #858585;
    --input-width: 95%;
    --fonte-logo: "Josefin Sans";

}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

a{
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: block;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: "Poppins";
}