.carrossel{
    text-align: center;
}
.carrossel__titulo{
    padding: 1em 0 .5em 0;
    text-transform: uppercase;
    color: var(--amarelo-principal);
    font-weight: 700;
    font-size: 1.125em;
}

.swipper-slide img{
    width: 100%;
    margin: 0 1em;
}

.swiper-button-prev,.swiper-button-next,.swiper-scrollbar{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: .5em 0 1em 0;
}

.swiper-pagination-bullet-active{
    background: var(--swiper-pagination-color,var(--azul-principal));
}

.carrossel__lancamento{
    width: 11em;
    max-height: 15em;
}

.carrossel__container{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.carrossel__interesse, .carrossel__autor-mes{
    display: flex;
    width: 82%;
    justify-content: space-between;
    background-color: var(--branco-principal);
    padding: 1em;
    column-gap: .5em;
    border-radius: .625em;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

.carrossel__interesse-col{
    display: flex;
    row-gap: 2em;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.carrossel__autor-mes .carrossel__interesse-col h3::before{
    content:"★ ★ ★ ★ ★";
    font-size: .75em;
    color: var(--amarelo-principal);
    display: block;
}

.primeira-col{
    row-gap: 0;
}

.carrossel__interesse-col h3{
    color: var(--amarelo-principal);
    font-weight: 700;
    margin-bottom: 1em;
    font-size: 1em;
    grid-row: 1/2;
}

.carrossel__interesse-col h4{
    color: var(--azul-principal);
    font-weight: 700;
    margin-bottom: 1em;
    font-size: 1.125em;
}

.carrossel__interesse-col p{
    color: var(--azul-principal);
    font-weight: 400;
    font-size: 0.875em;
    padding: 0 2em 0 0;
    line-height: 1.75em;
}
.carrossel__interesse-opcoes{
    display: flex;
    align-items: center;
    grid-row: 2/3;
    padding-left: .5em;
}
.carrossel__interesse-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--amarelo-principal);
    color: var(--branco-principal);
    height: 3em;
}

.logo__interesse{
    width: 10em;
}
