.carrossel{
    text-align: center;
}
.carrossel__titulo{
    padding: 2em 0 .5em 0;
    text-transform: uppercase;
    color: var(--amarelo-principal);
    font-weight: 700;
    font-size: 1.125em;
    background-color: var(--branco-principal);
}

.swipper-slide{
    margin-right: 3em;
}
.swipper-slide img{
    width: 100%;
}

.swiper-button-prev,.swiper-button-next,.swiper-scrollbar{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: .5em 0 1em 0;
}

.swiper-pagination-bullet-active{
    background: var(--swiper-pagination-color,var(--azul));
}

.carrossel__lancamento{
    max-height: 15.5em;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

.carrossel__container{
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

.carrossel__interesse, .carrossel__autor-mes{
    display: flex;
    width: 82%;
    justify-content: space-between;
    background-color: var(--branco-principal);
    padding: 1em;
    column-gap: .5em;
    border-radius: .625em;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

.carrossel__interesse-col{
    display: flex;
    row-gap: 2em;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.carrossel__autor-mes .carrossel__interesse-col h3::before{
    content:"★ ★ ★ ★ ★";
    font-size: .75em;
    color: var(--amarelo-principal);
    display: block;
}

.primeira-col{
    row-gap: 0;
}

.carrossel__interesse-col h3{
    color: var(--amarelo-principal);
    font-weight: 700;
    margin-bottom: 1em;
    font-size: 1em;
    grid-row: 1/2;
}

.carrossel__interesse-col h4{
    color: var(--azul);
    font-weight: 700;
    margin-bottom: 1em;
    font-size: 1.125em;
}

.carrossel__interesse-col p{
    color: var(--azul);
    font-weight: 400;
    font-size: 0.875em;
    padding: 0 2em 0 0;
    line-height: 1.75em;
}
.carrossel__interesse-opcoes{
    display: flex;
    align-items: center;
    grid-row: 2/3;
    padding-left: .5em;
}
.carrossel__interesse-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: var(--amarelo-principal);
    color: var(--branco-principal);
    height: 3em;
}

.logo__interesse{
    width: 10em;
}

@media screen and (min-width: 1024px) {
    .carrossel__container{
        margin: 3.875em auto;
    }

    .carrossel__interesse,.carrossel__autor-mes{
        width: 55%;
        padding-left: 0.6em;
    }

    .carrossel__texto{
        padding-left: 0.5em;
    }

    .carrossel__texto p{
        font-size: 1em;
    }
    .carrossel__interesse-mais{
        font-weight: 700;
    }
    .carrossel__interesse-opcoes{
        padding: 0;
    }

    .swiper{
        width: 70%;
    }

    .swiper-wrapper{
        column-gap: 0;
    }

    .swiper-pagination{
        margin-bottom: 4.85em;
    }

    .swiper-button-prev, .swiper-button-next{
        display: block;
        top: 65%;
    }

    .carrossel__lancamento{
        max-height: 16.6em;
    }
}

@media screen and (min-width: 1728px) {
    .carrossel{
        display: grid;
        grid-template-columns: 1.05fr 0.95fr;
        grid-template-rows: 1fr 109px auto;
    }
    .carrossel__titulo{
        grid-column: 1/3;
        grid-row: 1/2;
        font-size: 32px;
        padding-top: 45px;
    }

    .swiper{
        width: 90%;
        margin-left: 12%;
        grid-row: 2/4;
    }
    .swiper-pagination{
        grid-row: 2/3;
        margin: 79px 0 35px 0;
    }
    
    .carrossel__container{
        grid-column: 2/3;
        grid-row: 3/4;
        justify-content: left;
        margin: 10px 70px 110px 20px;
    }
    
    .carrossel__interesse,.carrossel__autor-mes{
        width: 84%;
        padding: 0.875em 0.7em 1em 1em;
    }
    
    .carrossel__lancamento{
        max-height: 15.8em;
    }
    
    .swiper-button-prev, .swiper-button-next{
        top: 52%;
    }
}