.container__padrao{
    background-color: var(--azul-principal);
    color: var(--branco-principal);
    text-align: center;
    padding: 1em;
}

.container__padrao h3{
    font-size: 1.125em;
    font-weight: 700;
    margin-bottom: 1em;
}

.container__padrao p{
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 1em;
}
.pesquisar, .email{
    border: 1px solid var(--branco-principal);
    background-color: transparent;
    color: var(--branco-principal);
    border-radius: 1.5em;
    padding: .5em 1em;
    width: var(--input-width);
}

.pesquisar::placeholder, .email::placeholder{
    color: var(--branco-principal);
    font-weight: 400;
    font-size: 0.875em;
    text-align: center;
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 1em;
}

/* recentes */

.recentes{
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-top: 1.5em;
}

.recentes h3{
    font-weight: 300;
    text-transform:uppercase;
}

.container__recentes-lista{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}
.container__recentes-items{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--amarelo-principal);
    padding: 1em 1.6em;
}

.container__recentes-items a{
    color: var(--branco-principal);
    font-weight: 700;
    font-size: 0.8em;
}

/* Newsletter */

.newsletter{
    background-color: transparent;
    color: var(--azul-principal);
    text-align: left;
}

.newsletter h3{
    font-weight: 500;
    padding: 0 4em 0 0.25em;
}

.newsletter p{
    font-weight: 300;
    padding: 0 4em 0 0.25em;
}

.email{
    border-color: var(--azul-principal);
    color: var(--azul-principal);
    width: calc(var(--input-width) - 2.125em);
}
.email::placeholder{
    color: var(--azul-principal);
    background: url("../img/Email.svg") no-repeat;
    text-align: left;
    padding-left: 2em;
    font-size: 1em;
}

.email:focus-visible{
    background-color: var(--cinza-secundario);
    border: var(--azul-principal);
}

/* rodapé */

.rodape{
    background-color: var(--cor-rodape);
    color: var(--preto-principal);
    border-top: solid 1px var(--linha-rodape);
}
.rodape-estendido{
    display: none;
}

@media screen and (min-width: 1024px) {
    /* banner */
    .banner{
        padding: 5.25em 13em;
    }
    .banner h3{
        font-size: 2.25em;
        margin-bottom: 0.25em;
    }
    .banner p{
        margin-bottom: 2em;
    }

    .pesquisar {
        border-radius: 1.5em;
        padding: .5em 1em;
        width: 70%;
    }

    .pesquisar::placeholder{
        font-size: 1em;
        padding-left: 2em;
    }

    /* recentes */
    .recentes, .newsletter{
        padding: 1em 8.78em;
    }
    .container__recentes-lista{
        gap: 1.5em;
    }
    
    .container__recentes-items:nth-child(1){
        order: 0;
    }
    .container__recentes-items:nth-child(2){
        order: 1;
    }
    .container__recentes-items:nth-child(3){
        order: 1;
    }
    .container__recentes-items:nth-child(4){
        order: 1;
    }
    .container__recentes-items:nth-child(5){
        order: 1;
    }
    .container__recentes-items:nth-child(6){
        order: 2;
    }
    .container__recentes-items:nth-child(7){
        order: 0;
    }
    .container__recentes-items:nth-child(8){
        order: 1;
    }
    .container__recentes-items{
        padding: 1.5em 2em;
    }

    .container__recentes-items a{
        font-size: 1.5em;
    }

    /* newsletter */
    .newsletter{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        column-gap: 84px;
    }

    .newsletter h3{
        font-size: 1.5em;
        grid-column: 1/2;
    }
    .newsletter p{
        font-size: 1em;
        grid-column: 1/2 ;
    }
    .email{
        align-self:flex-end;
        justify-self: center;
        grid-column: 2/3;
        grid-row: 1/2;
        height: 2em;
        border-radius: 2em;
    }

    /* rodape */
    
    .rodape-estendido{
        display: block;
    }

}