.cabecalho{
    background-color: var(--branco-principal);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 0 .5em;
}

.logo-alura{
    grid-column: 2/3;
    grid-row: 1/2
}

.cabecalho__inicio{
    grid-column: 1/2;
    grid-row: 1/2
}

.logo-alura h2{
    display: none;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: .5em;
}

.texto-favoritos, .texto-direito, .texto-categorias{
    display: none;
}

.caixa-categorias{
    padding: .5em;
}

.icone-categorias{
    width: 1.5em;
    height: 1.5em;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao{
    display: none;
}
.container__botao:checked~.caixa-categorias > .icone-categorias{
    background: url("../img/Menu.svg");
    width: 1.5em;
    height: 1.5em;
    background-image: url("../img/Menu_aberto.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.container__botao:checked~.caixa-categorias{
    background: var(--azul-degrade);
} 

.lista-menu{
    display: none;
    position: absolute;
    top:69px;
    width: 60vw;
    background-color: var(--branco-principal);
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo{
    color: var(--amarelo-principal);
    font-weight: 700;
    padding: 1em;
}

.lista-menu__link{
    text-transform: uppercase;
    color: var(--azul);
    padding: 1em 0 1em 1.5em;

}

.lista-menu__link:hover{
    background-color: var(--azul);
    color: var(--branco-principal);
}

.formatar__texto-direito h2{
    display: none;
}

.cabecalho-favoritos{
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: flex-end;
}

.cabecalho-sacola{
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: flex-end;
}
.cabecalho-perfil{
    grid-column: 5/6;
    grid-row: 1/2;
    justify-self: flex-end;
}
@media screen and (min-width: 1024px) {
    .cabecalho{
        padding: 0 5em;
    }

    .cabecalho__menu,.imagem-favoritos,.lista-menu__titulo{
        display: none;
    }

    #caixa-categorias{
        padding: 1em 2em;
    }

    .logo-alura__icone{
        width: 2.5em;
        height: 2.5em;
    }

    .logo-alura{
        display: flex;
        align-items:center;
    }
    .logo-alura h2{
        display: block;
        font-size: 1.875em;
        font-family: var(--fonte-logo);
        text-transform: capitalize;
        color: var(--preto-principal);
        padding: 1em 0 .666em 0 ;
    }
    .titulo-1{
        font-weight: 700;
    }

    .container__botao:checked~.caixa-categorias > .icone-categorias{
        display: none;
    }

    .texto-favoritos, .texto-direito{
        display: block;
    }

    .cabecalho__menu-direito__item h2, .texto-categorias{
        text-transform: uppercase;
        font-weight: 400;
        color: var(--preto-principal);
    }

    .icone-categorias{
        display: none;
    }
    .texto-categorias{
        display: block;
    }

    .cabecalho__menu-direito__item{
    }

    .caixa-categorias{
        padding: 0.625em;
    }

    .container__botao:checked~.caixa-categorias{
        background-color: var(--azul);
    }
    .container__botao:checked~.caixa-categorias h2{
        color: var(--branco-principal);
    }

    .lista-menu{
        display: none;
        width: auto;
    }
    .lista-menu__link{
        text-align: center;
        padding: 1em 1.5em;
    }
    .cabecalho-esquerdo{
        margin-right: 80px;
    }

    .cabecalho__inicio{
        justify-self: flex-end;
        margin-right: 2em;
    }
    .cabecalho-favoritos{
        margin-right: 2em;
    }

    .logo-alura{
        grid-column: 1/2;
    }
    
    .cabecalho__inicio{
        grid-column: 2/3;
    }

    .cabecalho-estante{
        grid-column: 4/5;
        grid-row: 1/2;
        justify-self: flex-end;
        white-space: nowrap;
        margin-right: 2em;
    }
    .cabecalho-sacola{
        grid-column: 5/6;
    }
    .cabecalho-perfil{
        grid-column: 6/7;
        justify-self: flex-end;
    }

    .cabecalho{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1728px) {
   
    .cabecalho{
        grid-template-columns: 1fr auto auto auto 1fr 1fr 1fr 1fr;
    }

    .logo-alura{
        margin-right: 5em;
    }

    .formatar__texto-direito{
        display: flex;
        align-items: center;
    }
    .formatar__texto-direito h2{
        display: block;
        text-transform: capitalize;
    }
    .cabecalho-sacola{
        grid-column: 7/8;
    }
    .cabecalho-perfil{
        grid-column: 8/9;
    }
}