.cabecalho{
    background-color: var(--branco-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 .5em;
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: .5em;
}

.cabecalho__menu{
    width: 1.5em;
    height: 1.5em;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao{
    display: none;
}

.lista-menu{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    width: 60vw;
}

.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--branco-principal);
}

.lista-menu__titulo{
    color: var(--amarelo-principal);
    font-weight: 700;
}

.lista-menu__link{
    text-transform: uppercase;
    color: var(--azul-principal);
}

.lista-menu__item:hover{
    background-color: var(--branco-secundario);
}